<div class='c-search js-search'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l o-grid__col--center'>
      <form>
        <label for='search-field' class='u-hidden-visually'>Search</label>
        <input id='search-field' type='search' class='c-search__input js-search-input' placeholder='Type to Search'>
      </form>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l o-grid__col--center'>
      <div class='c-search-result js-search-result'></div>
    </div>
  </div>

  <div data-icon='ei-close' data-size='s' class='c-search__close js-search-close'></div>
</div>