<h5 class='u-text-center'>{{t 'Enter your email below to join our newsletter' }}</h5>

{{  subscribe_form
    form_class='c-subscribe'
    placeholder='Your email address'
    button_class='c-subscribe__btn c-btn'
}}