{{#tag}}
  <div class='c-tag'>
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--2-4-m o-grid__col--center'>
        <h4 class='c-tag__name'>{{ name }}</h4>
        {{#if description}}
          <p class='c-tag__description'>
            {{ description }}
          </p>
        {{/if}}
      </div>
    </div>
  </div>
{{/tag}}