{{!< default}}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      {{> author }}
    </div>
  </div>

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{ pagination }}
  </div>

</div>