{{!< default}}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <h2>404</h2>
      <p>{{t 'Page Not Found' }} <a href='{{ @site.url }}' class='u-right u-font-small'>{{t 'Home Page' }} &#x27A3;</a></p>
    </div>
  </div>

  <div class='o-grid js-grid'>
    {{#get 'posts' limit='6' include='tags, authors'}}
      {{> loop }}
    {{/get}}
  </div>

</div>