{{!< default}}

{{#post}}

<div class='o-wrapper'>

  <article class='c-{{ post_class }}'>
    <h1 class='c-post__title u-text-center'>{{ title }}</h1>

    <div class='c-content'>
      {{ content }}
    </div>
  </article>

</div>

{{/post}}