/*------------------------------------*\
  Elements > Inputs
\*------------------------------------*/

$input-border: $color-border;
$input-border-focused: $color-text;

input[type='text'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
input[type='datetime'],
input[type='datetime-local'],
select,
textarea {
  width: 100%;
  padding: $base-spacing-unit;
  border: 1px solid $color-border;
  border-radius: 0;
  outline: none;
  background-color: $color-white;
  font-size: $font-size-small;

  transition: $global-transition;

  &:focus {
    border-color: $input-border-focused;
  }
}