/*------------------------------------*\
  Elements > Table
\*------------------------------------*/

table {
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: $base-spacing-unit;
    text-align: left;
    border-top: 1px solid $color-border;
  }

  thead th {
    white-space: nowrap;
  }

  tbody + tbody {
    border-top: 2px solid $color-border;
  }
}

.responsive-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}