// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #207CDF;
$color-white: #FFFFFF;
$color-text:  #323232;
$color-gray:  #7E7E7E;

// Background Colors
$bg-color-white:      $color-white;
$bg-color-dark:       #222228;
$bg-color-gray:       #ECF0F1;
$bg-color-gray-light: #FAFAFA;

// Border
$color-border: #E1E0E1;

// Links
$color-link: $color-text;

// Share
$color-twitter:  #55ACEE;
$color-facebook: #3B5998;