// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #207cdf;
$color-white: #ffffff;
$color-text:  #222222;
$color-gray:  #7e7e7e;

// Background Colors
$bg-color-white:      $color-white;
$bg-color-dark:       #222228;
$bg-color-gray:       #ecf0f1;
$bg-color-gray-light: #fafafa;

// Border
$color-border: #E1E0E1;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;
$color-link-shadow: #fdfdfd;

// Share
$color-twitter:  #55acee;
$color-facebook: #3b5998;