// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand:   #5551FF;
$color-white:   #FFFFFF;
$color-text:    #222222;
$color-gray:    #5D738D;
$color-error:   #BF3157;
$color-success: #097756;

// Background Colors
$bg-white:      $color-white;
$bg-dark:       #222228;
$bg-gray:       #ECF0F1;
$bg-gray-light: #FAFAFA;

// Border
$color-border: #ECF0F1;

// Links
$color-link: $color-text;

// Share
$color-twitter:   #55ACEE;
$color-facebook:  #3B5998;
$color-pinterest: #bd081c;