/*------------------------------------*\
  Components > Archive
\*------------------------------------*/

.c-archive {
  text-align: center;
  margin-bottom: double($base-spacing-unit);

  &__name {
    margin-bottom: 0;
    font-size: double($font-size-small);
    line-height: double($line-height-medium);
  }

  &__description {
    margin-top: half($base-spacing-unit);
    margin-bottom: 0;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}