/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  a:not(.c-btn) {
    background-image: linear-gradient(to bottom, $color-text, $color-text);
    text-shadow: -1px -1px 0 $color-link-shadow,
                  1px -1px 0 $color-link-shadow,
                 -1px  1px 0 $color-link-shadow,
                  1px  1px 0 $color-link-shadow;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 96%;
    text-decoration: none;
  }
}