/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  word-break: break-word;
  word-wrap: break-word;

  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}