/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: double($base-spacing-unit) 0;
  background-color: $bg-gray-light;

  &__copy {
    line-height: 1;
  }
}