/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  margin: 0 auto;
  max-width: 740px;

  &__title {
    font-size: double($font-size-tiny);

    @include mq($from: tablet) {
      font-size: double($font-size-small);
      line-height: double($line-height-medium);
    }
  }

  &__date {
    display: block;
    text-align: center;
    margin-bottom: $base-spacing-unit;
    font-size: $font-size-tiny;
    font-family: $font-sans-serif;
    line-height: $line-height-small;
    color: $color-gray;
  }

  &__image {
    margin-bottom: $font-size-base;
  }
}